nav {
  background-color: #4CAF50; /* Зелений фон */
  padding: 10px;
}

nav ul {
  list-style-type: none; /* Видаляє маркери списку */
  padding: 0;
  margin: 0;
  display: flex; /* Робить список горизонтальним */
  justify-content: center; /* Вирівнює елементи по центру */
}

nav ul li {
  margin: 0 15px; /* Відступи між елементами */
}

nav ul li a {
  color: white; /* Колір тексту */
  text-decoration: none; /* Видаляє підкреслення посилань */
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline; /* Підкреслення при наведенні */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

main {
   margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

footer {  background-color: #333;
  color: white;
  text-align: center;
  height: 50px;
  display: grid;
  place-items: center
}

.recipe {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.recipe img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  img {
    max-width: 100%;
  }
}